input{
    font-size: 20px;
    color: antiquewhite;
    width: 100%;
    height: 50px;
    /* padding: 10px; */
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 5px;
    
}
.row{
    overflow-x: hidden;
}